.addServerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background-color: #36393f;
    color: #43b581;
    transition: all 0.2s ease;
}

.addServerIcon:hover {
    border-radius: 30%;
    background-color: #43b581;
    color: white;
}

.addServerIcon_icon {
    font-size: 22px;
}

.addServerIcon_alert {
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    white-space: nowrap;
    color: white;
    margin-left: 150px;
}

.addServerIcon:hover > .addServerIcon_alert {
    display: flex;
}

/* prompt styling */

.addServerIcon_prompt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 9, 10, .8);
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.addServerIcon_prompt_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 440px;
    padding: 25px 25px;
    border-radius: 7px;
    background-color: #fff;
    box-sizing: border-box;
}

.addServerIcon_prompt_field_title {
    color: black;
    font-size: 32px;
    font-weight: 700;
}

.addServerIcon_prompt_field_insert {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addServerIcon_prompt_field_insert_title {
    color: #6a7480;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.addServerIcon_prompt_field_insert_input {
    height: 18px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #6a7480;
    background-color: white;
    color: #6a7480;
    font-size: 15px;
    font-weight: 600;
    outline: none;
}

.addServerIcon_prompt_field_insert_input:focus {
    border: 2px solid #7289da;
}

.addServerIcon_prompt_field_buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.addServerIcon_prompt_field_buttons_cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 2px 4px;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: content-box;
    font-weight: 600;
}

.addServerIcon_prompt_field_buttons_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 64px;
    padding: 2px 16px;
    background-color: #7289da;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    box-sizing: content-box;
    outline: none;
}