.channelsList {
    background-color: #2f3136;
    color: #72767d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 240px;
}

@media screen and (max-width: 740px) {
    .channelsList {
        display: none;
    }
}