.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #36393f;
    flex: 1;
}

.chat_messages {
    padding: 20px;
    flex: 1;
    overflow: auto;
}

.chat_sendTextField {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0 5px; */
    margin: 0 16px 22px 16px;
    background-color: #40444b;
    border-radius: 10px;
    height: 44px;
    color: #b9bbbe;
    font-size: 20px;
}

.chat_sendTextField_input {
    height: 22px;
    background-color: #40444b;
    color: #b9bbbe;
    font-size: 16px;
    flex: 1;
    min-width: 10px;
    border: none;
    outline: none;
}

.chat_sendTextField_icon {
    margin: 0 10px;
}

.chat_sendTextField_send {
    margin-right: 10px;
    font-size: 21px;
}

.chat_sendTextField_send:hover {
    color: white;
}