.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #36393f;
    flex: 1;
}

.chat_messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.chat_messages_bottom {
    overflow: auto;
}

.chat_messages_bottom_channel {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat_messages_bottom_channel_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 68px;
    border-radius: 100%;
    font-size: 40px;
    color: white;
    background-color: #4f545c;
    margin-bottom: 10px;
}

.chat_messages_bottom_channel_welcome {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.chat_messages_bottom_channel_description {
    color: #adbbbe;
    font-size: 12px;
}

.chat_sendTextField {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px 22px 16px;
    background-color: #40444b;
    border-radius: 10px;
    height: 44px;
    color: #b9bbbe;
    font-size: 20px;
}

.chat_sendTextField_input {
    height: 22px;
    background-color: #40444b;
    color: #b9bbbe;
    font-size: 16px;
    flex: 1;
    min-width: 10px;
    border: none;
    outline: none;
}

.chat_sendTextField_icon {
    margin: 0 10px;
}

.chat_sendTextField_send {
    margin-right: 10px;
    font-size: 21px;
}

.chat_sendTextField_send:hover {
    color: white;
}

@media screen and (max-width: 360px) {
    .chat_sendTextField_icon {
        display: none;
    }

    .chat_sendTextField_input {
        margin: 0 10px;
    }
}