.listOfChannels {
    background-color: #2f3136;
    color: #72767d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listOfChannels_searchBar {
    display: flex;
    padding: 10px;
    width: 220px;
    border-bottom: 1px solid #202225;
}

.listOfChannels_searchBar > button {
    background-color: #202225;
    color: #72767d;
    border: none;
    flex: 1;
    outline: none;
    padding: 6px;
    border-radius: 5px;
}

.listOfChannels_directMessages_friends {
    display: flex;
    flex-direction: column;
}

.listOfChannels_directMessages_friends > button {
    display: flex;
    align-items: center;
    flex: 1;
    color: #8e9297;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 42px;
    background-color: #2f3136;
}

.listOfChannels_directMessages_friends > button:hover {
    background-color: #35383d;
    cursor: pointer;
    color: white;
}

.listOfChannels_directMessages_friends_icon {
    padding-right: 10px;
    font-size: 22px;
}

.listOfChannels_directMessages_friends_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.listOfChannels_directMessages_friends_title_add {
    color: white;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.listOfChannels_directMessages_friends_title_add:hover > .listOfChannels_directMessages_friends_title_alert {
    display: flex;
}

.listOfChannels_directMessages_friends_title_alert {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -55px;
}

.listOfChannels_directMessages_friends_title_alert > p {
    font-size: 12px;
}

.listOfChannels_directMessages_userContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #292b2f;
    padding: 10px;
}

.listOfChannels_directMessages_userContainer_left {
    display: flex;
    flex-direction: row;
}

.listOfChannels_directMessages_userContainer_left > img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}

.listOfChannels_directMessages_userContainer_right {
    display: flex;
    flex-direction: row;
}

.listOfChannels_directMessages_userContainer_right > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: #8e9297;
    background-color: #292b2f;
    border: none;
    margin-left: 5px;
    height: 32px;
    width: 32px;
    outline: none;
}

.listOfChannels_directMessages_userContainer_right > button:hover {
    background-color: #35383d;
}

.listOfChannels_directMessages_userContainer_right > div {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    margin-top: -45px;
}

.listOfChannels_directMessages_userContainer_right_deafenAlert, .listOfChannels_directMessages_userContainer_right_undeafenAlert {
    margin-left: 35px;
}

.listOfChannels_directMessages_userContainer_right_settingsAlert {
    margin-left: 70px;
}

.listOfChannels_directMessages_userContainer_right_mute:hover ~ .listOfChannels_directMessages_userContainer_right_muteAlert {
    display: flex;
}

.listOfChannels_directMessages_userContainer_right_unmute:hover ~ .listOfChannels_directMessages_userContainer_right_unmuteAlert {
    display: flex;
}

.listOfChannels_directMessages_userContainer_right_deafen:hover ~ .listOfChannels_directMessages_userContainer_right_deafenAlert {
    display: flex;
}

.listOfChannels_directMessages_userContainer_right_undeafen:hover ~ .listOfChannels_directMessages_userContainer_right_undeafenAlert {
    display: flex;
}

.listOfChannels_directMessages_userContainer_right_settings:hover ~ .listOfChannels_directMessages_userContainer_right_settingsAlert {
    display: flex;
}

.listOfChannels_directMessages_userContainer_right > div > p {
    font-size: 12px;
}